<html>
    
    <head>
        <style>
            label {
                display: block;
            }
        </style>
    </head>

    <body>
        <h1> Edit Car</h1>

        <%- include('carForm') %>
        
    </body>

</html>