<html>

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body class="bg-dark bg-gradient text-light h-100">
    <h1>New Car</h1>

    <%- include('carForm') %>

</body>

</html>