<html>
    
    <head>
        <style>
            label {
                display: block;
            }
        </style>

        <% update = 'tire' %>
    </head>

    <body class="bg-dark bg-gradient text-light h-100">
        <h1>Update Mileage + Rotate Tires</h1>

        <%- include('changeRotateForm') %>
        
    </body>

</html>