<html>
    
    <head>
        <style>
            label {
                display: block;
            }
        </style>

        <% update = 'tire' %>
    </head>

    <body>
        <h1>Update Mileage + Change Oil</h1>

        <%- include('changeRotateForm') %>
        
    </body>

</html>